In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, col, when, sum


import os

In [3]:
ss = SparkSession\
    .builder\
    .config('spark.executor.memory', '6g')\
    .config('spark.driver.memory', '6g')\
    .appName('project')\
    .getOrCreate()

ss

In [ ]:
file_path = os.path.join(os.getcwd(), 'data', 'house_project_data/*.csv')
file_path2 = os.path.join(os.getcwd(), 'data', 'house_project_data/code/*.csv')

df = ss.read.csv(f'file:///{file_path}', inferSchema = True, header = True, encoding = 'cp949')
df

df_rate = ss.read.csv(f'file:///{file_path2}', inferSchema = True, header = True, encoding = 'cp949')
df_rate

In [144]:
## 로컬용
tmp_df1 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2017.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df2 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2018.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df3 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2019.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df4 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2020.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df5 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2021.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df6 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2022.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df7 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2023.csv', inferSchema = True, header = True, encoding = 'cp949')
tmp_df8 = ss.read.csv('./data/house_project_data/서울시 부동산 실거래가 정보_2024.csv', inferSchema = True, header = True, encoding = 'cp949')

df = tmp_df1\
    .union(tmp_df2)\
    .union(tmp_df3)\
    .union(tmp_df4)\
    .union(tmp_df5)\
    .union(tmp_df6)\
    .union(tmp_df7)\
    .union(tmp_df8)

df_rate = ss.read.csv('./data/house_project_data/code/korea_base_interest_rate.csv', inferSchema = True, header = True, encoding = 'cp949')

In [13]:
df.head(3), df.tail(3), df_rate.head(3), df_rate.tail(3)

([Row(접수연도=2017, 자치구코드=11740, 자치구명='강동구', 법정동코드=10900, 법정동명='천호동', 지번구분=1, 지번구분명='대지', 본번='0449', 부번='49', 건물명='힐탑프라자', 계약일=20180310, 물건금액(만원)=8900, 건물면적(㎡)=20.48, 토지면적(㎡)=24.26, 층=16, 권리구분=None, 취소일=None, 건축년도='1994', 건물용도='오피스텔', 신고구분=None, 신고한 개업공인중개사 시군구명=None),
  Row(접수연도=2017, 자치구코드=11260, 자치구명='중랑구', 법정동코드=10400, 법정동명='묵동', 지번구분=1, 지번구분명='대지', 본번='0243', 부번='110', 건물명='애플하우스', 계약일=20180307, 물건금액(만원)=16500, 건물면적(㎡)=29.7, 토지면적(㎡)=16.84, 층=4, 권리구분=None, 취소일=None, 건축년도='2012', 건물용도='연립다세대', 신고구분=None, 신고한 개업공인중개사 시군구명=None),
  Row(접수연도=2017, 자치구코드=11680, 자치구명='강남구', 법정동코드=11400, 법정동명='일원동', 지번구분=1, 지번구분명='대지', 본번='0731', 부번='0', 건물명='한솔마을', 계약일=20180206, 물건금액(만원)=135000, 건물면적(㎡)=84.73, 토지면적(㎡)=0.0, 층=5, 권리구분=None, 취소일=None, 건축년도='1994', 건물용도='아파트', 신고구분=None, 신고한 개업공인중개사 시군구명=None)],
 [Row(접수연도=2024, 자치구코드=11530, 자치구명='구로구', 법정동코드=10700, 법정동명='개봉동', 지번구분=1, 지번구분명='대지', 본번='0170', 부번='0033', 건물명='금석연립(170-33)', 계약일=20220708, 물건금액(만원)=9740, 건물면적(㎡)=53.61, 토지면적(㎡)=124.0, 층=2, 권리구분=None, 취소일='20240207', 건축년도='1981', 건물용도='연립다세대', 신고구분='중개거래', 신고한 개업공인중개사 시군구명='서울 강남구'),
  Row(접수연도=2024, 자치구코드=11440, 자치구명='마포구', 법정동코드=11000, 법정동명='노고산동', 지번구분=None, 지번구분명=None, 본번=None, 부번=None, 건물명=None, 계약일=20210719, 물건금액(만원)=195000, 건물면적(㎡)=157.45, 토지면적(㎡)=116.7, 층=None, 권리구분=None, 취소일='20240417', 건축년도='1988', 건물용도='단독다가구', 신고구분=None, 신고한 개업공인중개사 시군구명=None),
  Row(접수연도=2024, 자치구코드=11305, 자치구명='강북구', 법정동코드=10100, 법정동명='미아동', 지번구분=None, 지번구분명=None, 본번=None, 부번=None, 건물명=None, 계약일=20210208, 물건금액(만원)=164000, 건물면적(㎡)=293.08, 토지면적(㎡)=136.0, 층=None, 권리구분=None, 취소일='20240905', 건축년도='1994', 건물용도='단독다가구', 신고구분=None, 신고한 개업공인중개사 시군구명=None)],
 [Row(date='2024-11-28', base_interest_rate=3.0),
  Row(date='2024-10-11', base_interest_rate=3.25),
  Row(date='2023-01-13', base_interest_rate=3.5)],
 [Row(date='2019-07-18', base_interest_rate=1.5),
  Row(date='2018-11-30', base_interest_rate=1.75),
  Row(date='2017-11-30', base_interest_rate=1.5)])

In [18]:
df.show(3, truncate = False)

+--------+----------+--------+----------+--------+--------+----------+----+----+----------+--------+--------------+------------+------------+---+--------+------+--------+----------+--------+------------------------------+
|접수연도|자치구코드|자치구명|법정동코드|법정동명|지번구분|지번구분명|본번|부번|건물명    |계약일  |물건금액(만원)|건물면적(㎡)|토지면적(㎡)|층 |권리구분|취소일|건축년도|건물용도  |신고구분|신고한 개업공인중개사 시군구명|
+--------+----------+--------+----------+--------+--------+----------+----+----+----------+--------+--------------+------------+------------+---+--------+------+--------+----------+--------+------------------------------+
|2017    |11740     |강동구  |10900     |천호동  |1       |대지      |0449|49  |힐탑프라자|20180310|8900          |20.48       |24.26       |16 |null    |null  |1994    |오피스텔  |null    |null                          |
|2017    |11260     |중랑구  |10400     |묵동    |1       |대지      |0243|110 |애플하우스|20180307|16500         |29.7        |16.84       |4  |null    |null  |2012    |연립다세대|null    |null                          |
|2017    |11680     |강남구  |11400     |일원동  |1       |대지      |0731|0   |한솔마을  |20180206|135000        |84.73       |0.0         |5  |null    |null  |1994    |아파트    |null    |null                          |
+--------+----------+--------+----------+--------+--------+----------+----+----+----------+--------+--------------+------------+------------+---+--------+------+--------+----------+--------+------------------------------+
only showing top 3 rows

In [78]:
df.printSchema()

root
 |-- 접수연도: integer (nullable = true)
 |-- 자치구코드: integer (nullable = true)
 |-- 자치구명: string (nullable = true)
 |-- 법정동코드: integer (nullable = true)
 |-- 법정동명: string (nullable = true)
 |-- 지번구분: integer (nullable = true)
 |-- 지번구분명: string (nullable = true)
 |-- 본번: string (nullable = true)
 |-- 부번: string (nullable = true)
 |-- 건물명: string (nullable = true)
 |-- 계약일: integer (nullable = true)
 |-- 물건금액(만원): integer (nullable = true)
 |-- 건물면적(㎡): double (nullable = true)
 |-- 토지면적(㎡): double (nullable = true)
 |-- 층: integer (nullable = true)
 |-- 권리구분: string (nullable = true)
 |-- 취소일: string (nullable = true)
 |-- 건축년도: string (nullable = true)
 |-- 건물용도: string (nullable = true)
 |-- 신고구분: string (nullable = true)
 |-- 신고한 개업공인중개사 시군구명: string (nullable = true)

In [19]:
df.count()

1035346

In [146]:
renamed_columns = ['sumbit_year', 'jachigu_code', 'jachigu_name', 'law_code', 'law_name', 'jibun_gubun', 'jibun_name', 'real_num', 'extra_num', 'building_name', 'contract_date', 'building_price', 'building_size', 'land_size', 'floor', 'right_gubun', 'cancel_date', 'building_year', 'building_usage', 'singo_gubun', 'agent_area']

if len(df.columns) == len(renamed_columns):
    renamed_columns_dict = {i : j for i,j in zip(df.columns, renamed_columns)}

for num, i in enumerate(df.columns):
    if i == list(renamed_columns_dict.keys())[num]:
        df = df.withColumnRenamed(i, list(renamed_columns_dict.values())[num])

df.columns

['sumbit_year',
 'jachigu_code',
 'jachigu_name',
 'law_code',
 'law_name',
 'jibun_gubun',
 'jibun_name',
 'real_num',
 'extra_num',
 'building_name',
 'contract_date',
 'building_price',
 'building_size',
 'land_size',
 'floor',
 'right_gubun',
 'cancel_date',
 'building_year',
 'building_usage',
 'singo_gubun',
 'agent_area']

## 전처리

### 결측치 확인

In [129]:
tmp = df.select(
        [sum(
            when(
                col(i).isNull() | isnan(i),1)\
            .otherwise(0)
            )\
            .alias(i + '_nulls') for i in df.columns
        ]
    ).collect()
    
tmp[0].asDict()

{'sumbit_year_nulls': 0,
 'jachigu_code_nulls': 0,
 'jachigu_name_nulls': 1,
 'law_code_nulls': 0,
 'law_name_nulls': 0,
 'jibun_gubun_nulls': 74005,
 'jibun_name_nulls': 74005,
 'real_num_nulls': 73993,
 'extra_num_nulls': 73993,
 'building_name_nulls': 73962,
 'contract_date_nulls': 0,
 'building_price_nulls': 0,
 'building_size_nulls': 0,
 'land_size_nulls': 179035,
 'floor_nulls': 73911,
 'right_gubun_nulls': 1018839,
 'cancel_date_nulls': 1008908,
 'building_year_nulls': 0,
 'building_usage_nulls': 0,
 'singo_gubun_nulls': 795534,
 'agent_area_nulls': 838902}

In [131]:
df.createOrReplaceTempView('tmp')

### 컬럼별 결측치 확인

In [147]:
df.select('jachigu_name')\
    .where('jachigu_name IS NULL')\
    .show()


# 확인 결과 자치구명 NULL의 1건은 미아동이며, 2020년 2차 행복주택 입주자 모집에 따르면 미아동이 맞음을 확인할 수 있음
# 이에 다른 미아동처럼 강북구 코드인 11305으로 업데이트
# 출처 : https://image.ebunyang.co.kr/files/bunyang/pdf/uploadfile_202012283766287.pdf
# 출처 : https://www.code.go.kr/stdcode/regCodeL.do
df = df.select('jachigu_name')\
        .where('jachigu_name IS NULL')\
        .fillna('11305')

+------------+
|jachigu_name|
+------------+
|        null|
+------------+

+------------+
|jachigu_name|
+------------+
+------------+

In [ ]:
df.createOrReplaceTempView('tmp')

ss.sql('''
    SELECT
        *
    
    FROM tmp
    WHERE jachigu_name is NULL

''').show()

In [148]:
ss.stop()